{% extends 'index.html' %}
{% block titulo %}
    {{accion}} Centro de Investigación
{% endblock titulo %}

{% block headers %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style>
        #map{
            height: 400px;
        }

        html,
        body {
            height: 100%;
        }
    </style>

{% endblock headers %}

{% block contenido %}
    <div class = "row">
        <div class="card-body d-flex justify-content-between align-items-center">
            <div class = "col">
                <h1>{{accion}} Laboratorio y/o Centro de Investigación</h1>
            </div>
        </div>

        <div class = "col-sm-10 col-lg-10">
            {% if form.errors %}
              <div class = "alert alert-warning">
                {{form.errors}}
              </div>
            {% endif %}
            <form action="" method="post" enctype = "multipart/form-data" class = "">
                {% csrf_token %}
                <div class = "well well-lg">
                    <h6><b>Datos del Centro:</b></h6>
                    <div class = "row">
                        <div class = "col"><p id="colorLetrasForm">{{form.nombre.label}}: {{form.nombre}}</p></div>
                        <div class = "col"><p id="colorLetrasForm">{{form.telefono.label}}: {{form.telefono}}</p></div>
                    </div>
                    <div class = "row">
                        <div class = "col"><p id="colorLetrasForm">{{form.areaEnfoque.label}}:
                            <select name="areaEnfoque" id="id_areaEnfoque" class = "form-control">
                                <option value = "0">-Selecciona una Opción-</option>
                                {% for area in areaEnfoque %}
                                    <option value="{{area.id}}">{{area.nombre}}</option>
                                {% endfor %}
                            </select></p>
                        </div>
                        <div class = "col"><p id="colorLetrasForm">{{form.subAreaEnfoque.label}}:
                            <select name="subAreaEnfoque" id="id_subAreaEnfoque" class = "form-control">
                                <option value = "0">-Selecciona una Opción-</option>
                                {% for subarea in subAreaEnfoque %}
                                    <option value="{{subarea.id}}" data-chained = "{{subarea.area.id}}">{{subarea.subarea}}</option>
                                {% endfor %}
                            </select></p>
                        </div>
                    </div>
                    <p></p>
                    <div class = "row">
                        <div class = "col"><p id="colorLetrasForm">{{form.sitioWeb.label}}: {{form.sitioWeb}}</p></div>
                        <div class="col"><p id="colorLetrasForm">{{form.imagen.label}}: {{form.imagen}}</p></div>
                        <div class = "col"><p id="colorLetrasForm">{{form.logotipo.label}}: {{form.logotipo}}</p></div>
                    </div>
                    <p></p>

                    <h6><b>Datos del Contacto(Responsable):</b></h6>
                    <div class = "row">
                        <div class = "col"><p id="colorLetrasForm">{{form.nombreEncargado.label}}: {{form.nombreEncargado}}</p></div>
                        <div class = "col"><p id="colorLetrasForm">{{form.correoEncargado.label}}: {{form.correoEncargado}}</p></div>
                        <div class = "col"><p id="colorLetrasForm">{{form.telefonoEncargado.label}}: {{form.telefonoEncargado}}</p></div>
                    </div>
                    <p></p>

                    <h6><b>Domicilio:</b></h6>
                    <div class = "row">
                        <div class = "col"><p id="colorLetrasForm">{{form.calle.label}}: {{form.calle}}</p></div>
                        <div class = "col"><p id="colorLetrasForm">{{form.numExterior.label}}: {{form.numExterior}}</p></div>
                    </div>
                    <p></p>
                    <div class = "row">
                        <div class = "col"><p id="colorLetrasForm">{{form.colonia.label}}: {{form.colonia}}</p></div>
                        <div class = "col"><p id="colorLetrasForm">{{form.cp.label}}: {{form.cp}}</p></div>
                    </div>
                    <p></p>
                    <div class = "row">
                        <div class = "col"><p id="colorLetrasForm">{{form.estado.label}}: {{form.estado}}</p></div>
                        <div class = "col"><p id="colorLetrasForm">{{form.municipio.label}}: {{form.municipio}}</p></div>
                    </div>

                </div>

                <div class = "well">
                    <div class="row">
                        <div class="col">
                            <h6><b>Geolocalización: Para una mejor presición, arrastrar el marcador a la posicion exacta</b></h6>
                        </div>
                        <div class = "row">
                            <div class = "col" hidden>{{form.latitud.label}}: {{form.latitud}}</div>
                            <div class = "col" hidden>{{form.longitud.label}}: {{form.longitud}}</div>
                            <input class="btn btn-success" type="button" value="Agregar Marcador" onclick="return direccion();">
                        </div>
                    </div>
                        <p></p>
                    <div id = "map"></div>
                </div>

                <div class = "col">
                    <input class= "btn btn-success" type="submit"
                    {% if accion == 'Nuevo' %}
                        value = "Agregar"
                    {% else %}
                        value = "Guardar"
                    {% endif %}
                    >
                    <a class= "btn btn-danger" href="{% url 'centros_lista' %}">Regresar</a>
                </div>
            </form>
        </div>
    </div>

{% endblock contenido %}


{% block scripts %}
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjSQ168Tk_ohpBsiDZmVVbXp5jj7-DYrw&callback=initMap&v=weekly"
    async
></script>
<script>

    {% if accion == 'Editar' %}
        var marker;
        var geocoder;
        var map;

        latitudE = $('#id_latitud').val()
        longitudE = $('#id_longitud').val()

        function initMap() {

            geocoder = new google.maps.Geocoder();
            map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: parseFloat(latitudE), lng: parseFloat(longitudE) },
            zoom: 16,
            });
            

            marker = new google.maps.Marker({
                map,
                draggable: true,
                animation: google.maps.Animation.BOUNCE,
                position: { lat: parseFloat($('#id_latitud').val()), lng: parseFloat( $('#id_longitud').val()) },
            });
            marker.addListener("dragend", toggleBounce);
        }
        function direccion() {
            var calle = document.getElementById('id_calle').value;
            var numero = document.getElementById('id_numExterior').value;
            var colonia = document.getElementById('id_colonia').value;
            var cp = document.getElementById('id_cp').value;
            var estado = document.getElementById('id_estado').value;
            var municipio = document.getElementById('id_municipio').value;

            var direccion = calle + ' ' + numero + ', ' + colonia + ', ' + cp + ', ' + estado + ', ' + municipio;
            geocoder.geocode( { 'address': direccion}, function(results, status) {
                if(status == 'OK'){
                    map.setCenter(results[0].geometry.location);
                    map.setZoom(18);
                    marker.setPosition(results[0].geometry.location);
                    // marker = new google.maps.Marker({
                    //     map: map,
                    //     position: results[0].geometry.location,
                    //     draggable: true,
                    // });
                } else {
                    alert('No se pudo agregar el marcador correctamente por la siguiente razon: No se agregó una dirección');
                }
            });
            marker.addListener("dragend", toggleBounce);

        }
    {% else %}
        var geocoder;
        var map;
        var marker;
        function initMap() {
            geocoder = new google.maps.Geocoder();
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: 22.766050981989335, lng: -102.5697492675781 },
                zoom: 11,
            });
        

            marker = new google.maps.Marker({
                map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                position: { lat: 22.766050981989335, lng: -102.5697492675781 },
            });
        }

        function direccion() {
            var calle = document.getElementById('id_calle').value;
            var numero = document.getElementById('id_numExterior').value;
            var colonia = document.getElementById('id_colonia').value;
            var cp = document.getElementById('id_cp').value;
            var estado = document.getElementById('id_estado').value;
            var municipio = document.getElementById('id_municipio').value;

            var direccion = calle + ' ' + numero + ', ' + colonia + ', ' + cp + ', ' + estado + ', ' + municipio;
            geocoder.geocode( { 'address': direccion}, function(results, status) {
                if(status == 'OK'){
                    map.setCenter(results[0].geometry.location);
                    marker.setPosition(results[0].geometry.location);
                    // marker = new google.maps.Marker({
                    //     map: map,
                    //     position: results[0].geometry.location,
                    //     draggable: true,
                    // });
                } else {
                    alert('No se pudo agregar el marcador correctamente por la siguiente razon: No se agregó una dirección');
                }
            });
            marker.addListener("dragend", toggleBounce);

        }

    {% endif %}

    function toggleBounce() {

        marker.setAnimation(google.maps.Animation.BOUNCE);
        $('#id_latitud').val(marker.position.lat);
        $('#id_longitud').val(marker.position.lng);

    }
    
    window.initMap = initMap;

</script>    
    
<script>
    $(function(){
        $("#id_areaEnfoque").val("{{ obj.subAreaEnfoque.area.id }}").change();
        $("#id_subAreaEnfoque").val("{{ obj.subAreaEnfoque.id }}").change();
        $("#id_subAreaEnfoque").chained("#id_areaEnfoque");
    });
</script>
{% endblock scripts %}