{% extends 'index.html' %}
{% block titulo %}
    {{accion}} Centro de Investigación
{% endblock titulo %}

{% block headers %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style>
        #map{
            height: 400px;
        }

        html,
        body {
            height: 100%;
        }
    </style>

{% endblock headers %}

{% block contenido %}
    <div class = "row">
        <div class="card-body d-flex justify-content-between align-items-center">
            <div class = "col">
                <h1>{{accion}} Centro de Investigación</h1>
            </div>
        </div>
    </div>
    <div class = "row">
        <div class = "col-sm-10 col-lg-10">
            <form action="" method="post" enctype = "multipart/form-data" class = "">
                {% csrf_token %}
                {% comment %} {{form.as_p}} {% endcomment %}
                <div class = "well well-lg">
                    <h6><b>Datos del Centro:</b></h6>
                    <div class = "row">
                        <div class = "col">{{form.nombre.label}}: {{form.nombre}}</div>
                        <div class = "col">{{form.telefono.label}}: {{form.telefono}}</div>
                    </div>
                    <p></p>
                    <div class = "row">
                        <div class = "col">{{form.areaEnfoque.label}}: 
                            <select name="areaEnfoque" id="id_areaEnfoque" class = "form-control">
                                <option value = "0">-Selecciona una Opción-</option>
                                {% for area in areaEnfoque %}
                                    <option value="{{area.id}}">{{area.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class = "col">{{form.subAreaEnfoque.label}}: 
                            <select name="subAreaEnfoque" id="id_subAreaEnfoque" class = "form-control">
                                <option value = "0">-Selecciona una Opción-</option>
                                {% for subarea in subAreaEnfoque %}
                                    <option value="{{subarea.id}}" data-chained = "{{subarea.area.id}}">{{subarea.subarea}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <p></p>
                    <div class = "row">
                        <div class = "col">{{form.sitioWeb.label}}: {{form.sitioWeb}}</div>
                        <div class="col">{{form.imagen.label}}: 
                            <input class="form-control" type="file" id="formFile">
                        </div>
                    </div>
                    <p></p>
                    <h6><b>Domicilio:</b></h6>
                    <div class = "row">
                        <div class = "col">{{form.calle.label}}: {{form.calle}}</div>
                        <div class = "col">{{form.numExterior.label}}: {{form.numExterior}}</div>
                    </div>
                    <p></p>
                    <div class = "row">
                        <div class = "col">{{form.colonia.label}}: {{form.colonia}}</div>
                        <div class = "col">{{form.cp.label}}: {{form.cp}}</div>
                    </div>
                    <p></p>
                    <div class = "row">
                        <div class = "col">{{form.estado.label}}: {{form.estado}}</div>
                        <div class = "col">{{form.municipio.label}}: {{form.municipio}}</div>
                    </div>
                    
                </div>
                
                <div class = "well">
                    <h6><b>Coordenadas:</b></h6>
                        <div class = "row">
                            <div class = "col">{{form.latitud.label}}: {{form.latitud}}</div>
                            <div class = "col">{{form.longitud.label}}: {{form.longitud}}</div>
                        </div>
                        <p></p>
                    <div id = "map"></div>
                </div>

                <div class = "col">
                    <input class= "btn btn-success" type="submit"
                    {% if accion == 'Nuevo' %}
                        value = "Agregar"
                    {% else %}
                        value = "Guardar"
                    {% endif %}
                    >
                    <a class= "btn btn-danger" href="{% url 'centros_lista' %}">Regresar</a>
                </div>
            </form>

            
            
           
        </div>
        
    </div>
{% endblock contenido %}


{% block scripts %}
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYdQoF_U7nq8XhE97DNBPUDMxYDCsUCtI&callback=initMap&v=weekly"
    async
></script>
<script>

    {% if accion == 'Editar' %}
        let marker;

        latitudE = $('#id_latitud').val()
        longitudE = $('#id_longitud').val()

        function initMap() {


            const map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: parseFloat(latitudE), lng: parseFloat(longitudE) },
            zoom: 16,
            });
            

            marker = new google.maps.Marker({
                map,
                draggable: true,
                animation: google.maps.Animation.BOUNCE,
                position: { lat: parseFloat($('#id_latitud').val()), lng: parseFloat( $('#id_longitud').val()) },
            });
            marker.addListener("dragend", toggleBounce);
        }
    {% else %}
        let marker;

        function initMap() {
            const map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 22.766050981989335, lng: -102.5697492675781 },
            zoom: 11,
            });
        

            marker = new google.maps.Marker({
                map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                position: { lat: 22.766050981989335, lng: -102.5697492675781 },
            });
            marker.addListener("dragend", toggleBounce);
        }
    {% endif %}

    function toggleBounce() {

        marker.setAnimation(google.maps.Animation.BOUNCE);
        $('#id_latitud').val(marker.position.lat);
        $('#id_longitud').val(marker.position.lng);

    }
    
    window.initMap = initMap;

</script>    
    
<script>
    $(function(){
        $("#id_areaEnfoque").val("{{ obj.subAreaEnfoque.area.id }}").change();
        $("#id_subAreaEnfoque").val("{{ obj.subAreaEnfoque.id }}").change();
        $("#id_subAreaEnfoque").chained("#id_areaEnfoque");
    });
</script>
{% endblock scripts %}