{% extends 'inicio.html' %}

{% block titulo %}
    Búsqueda de Centros de Investigación
{% endblock titulo %}

{% block headers %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style>
        #map{
            height: 546px;
        }

        html,
        body {
            height: 100%;
        }
    </style>

{% endblock headers %}

{% block contenido %}
    <div class = "container-fluid">
        <h1>Mapa de los Centros de Investigación en el Estado de Zacatecas</h1>
        <div>
            <div class="col-sm-6 col-lg-5">
                <h4>Buscamos resolver problemas de gente zacatecana con investigadores e instituciones tambien zacatecanas.</h4>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Búsquedas</a></li>
                    <li><a data-toggle="tab" href="#menu1">Rutas de Navegación</a></li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <div class="well">
                            <nav class="navbar navbar-light bg-light">
                                <form method="get">
                                    <div id="custom-search-input">
                                        <div class="input-group col-md-12">
                                            <input type="text" class="form-control" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
                                            <span class="input-group list">
                                                <i class="icon icon-search"></i>
                                                <button type="submit" class="boton btn-success">Buscar</button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </nav>
                            <p>
                                <label>Filtros de búsqueda
                                    <select id=''>
                                        <option value=''>Selecciona una opción</option>
                                        <option value='nombre'>Nombre del Centro de Investigación</option>
                                        <option value='enfoque'>Área de especialización</option>
                                        <option value='estado'>Estado</option>
                                    </select>
                                </label>
                            </p>
                            <br />
                            <h4>Datos del Centro de Investigacion</h4>
                            <div class="row">
                                <div class="form-group shadow-textarea">
                                    <table class = "table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Dirección</th>
                                                <th>Latitud y Longitud</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for centro in centros %}
                                                <tr>
                                                    <td>{{ centro.nombre }}</td>
                                                    <td>{{ centro.calle }}</td>
                                                    <td>{{ centro.latitud }}, {{ centro.longitud }}</td>
                                                </tr>
                                            {% empty %}
                                                <tr>
                                                    <td colspan="2">
                                                        <p>No existen datos</p>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <div class = "col-lg-8 col-lg-5">
                <div id = "map"></div>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block scripts %}
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjSQ168Tk_ohpBsiDZmVVbXp5jj7-DYrw&callback=initMap&v=weekly"
        async
    ></script>
    <script>

        let marker;
        function initMap() {
                const map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: 22.766050981989335, lng: -102.5697492675781 },
                zoom: 10,
                });

                {% for centro in centros %}
                    marker = new google.maps.Marker({
                        map,
                        position: { lat: parseFloat({{ centro.latitud }}), lng: parseFloat({{ centro.longitud }}) },
                    });
                    marker.setAnimation(google.maps.Animation.BOUNCE);
                {% endfor %}


        }
        window.initMap = initMap;

    </script>
{% endblock scripts %}