{% extends 'inicio.html' %}

{% block titulo %}
    Búsqueda de Centros de Investigación
{% endblock titulo %}

{% block headers %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style>
        #map{
            height: 546px;
        }

        html,
        body {
            height: 100%;
        }
    </style>

{% endblock headers %}

{% block contenido %}
        
{% endblock contenido %}

{% block scripts %}
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYdQoF_U7nq8XhE97DNBPUDMxYDCsUCtI&callback=initMap&v=weekly"
        async
    ></script>
    <script>


        function initMap() {
            const map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 22.766050981989335, lng: -102.5697492675781 },
            zoom: 11,
            });
        
        }
        
        window.initMap = initMap;

    </script>   
{% endblock scripts %}