{% extends 'inicio.html' %}

{% block headers %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<style>
    #map{
        height: 546px;
    }

    html,
    body {
        height: 100%;
    }
</style>

{% endblock headers %}

{% block scripts %}
<script>
    const comboFiltro = document.getElementById('filtro');
    const comboMuns = document.getElementById('municipios');

    comboFiltro.addEventListener('change', function handleChange(event){
       if(event.target.value == 'municipio'){
           comboMuns.style.display = 'block';
       } else {
           comboMuns.style.display = 'none';
       }
    });
</script>

<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjSQ168Tk_ohpBsiDZmVVbXp5jj7-DYrw&callback=initMap&v=weekly"
        async
></script>
<script>

    let marker;
    let munCentro;
    let areaCentro;
    var datos
    let coords;
    function initMap() {

        var infoWindow = new google.maps.InfoWindow();
        const map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 22.766050981989335, lng: -102.5697492675781 },
            zoom: 10,
        });

        nombreCentro = document.getElementById('barra_busqueda').value;
        munCentro = document.getElementById('municipios').value;
        areaCentro = document.getElementById('barra_busqueda').value;
        // console.log("El municipio seleccionado es: " + munCentro);

        {% for centro in centros %}

            nombreCentro = nombreCentro.toString();
            areaCentro = areaCentro.toString();

            if (('{{centro.nombre}}'.toLowerCase() == nombreCentro.toLowerCase()) || (('{{centro.subAreaEnfoque}}'.toLowerCase() == areaCentro.toLowerCase()))){
                marker = new google.maps.Marker({
                    map,
                    position: { lat: parseFloat({{ centro.latitud }}), lng: parseFloat({{ centro.longitud }}) },
                });

                google.maps.event.addListener(marker, 'click', (function(marker){
                    // console.log(coords);
                    return function() {
                        coords = '{{centro.latitud}}' + ', ' + '{{centro.longitud}}';
                        console.log(coords);
                        datos =
                        '<div id="content">' +
                            '<div id="bodyContent">' +
                                '<h5>{{centro.nombre}}</h5>' +
                                '<p><b>Teléfono de Contacto:</b></p>' +
                                '<p>{{ centro.telefono }}</p>' +
                                '<p><b>Datos Responsable:</b></p>' +
                                '<p>{{centro.nombreEncargado}}, {{centro.telefonoEncargado}}, {{centro.correoEncargado}}</p>' +
                                '<p><b>Dirección:</b></p>' +
                                '<p  id="domicilio">{{centro.calle}} {{centro.numExterior}}, {{centro.colonia}}, {{centro.cp}}, {{centro.municipio}}, {{centro.estado}}</p>' +
                                '<a onclick="return crearRuta(coords);" ' +
                                'type="button" className="btn btn-link fas fa-car"' +
                                'href="https://www.google.com.mx/maps/preview" target="_blank" id="direccion">' +
                                '</br>' +
                                'Como llegar' +
                                "</a>" +
                            "</div>" +
                        "<div>";

                        infoWindow.setContent(datos);
                        infoWindow.open(map, marker);
                        //Añadir que al darle click muestre los datos del centro en la parte de abajo
                    }
                })(marker))
            }
        {% endfor %}
    }

    function crearRuta() {
        var item = document.getElementById('domicilio').textContent;
        alert("Se redirige a " + item)
        if (item) {
            window.open('https://google.com.mx/maps/place/' + coords, '_blank');
        }
        return false;
    }


    window.initMap = initMap;

</script>
{% endblock scripts %}