{% extends 'index.html' %}

{% block titulo %}
    Lista de Centros de Investigación
{% endblock titulo %}

{% block contenido %}
    <h1>Centros de Investigacion</h1>
    <table class = "table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th>Teléfono</th>
                <th>Enfoque</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for centro in centros %}
                <tr>
                    <td>{{centro.nombre}}</td>
                    <td>{{centro.direccion}}</td>
                    <td>{{centro.latitud}}</td>
                    <td>{{centro.longitud}}</td>
                    <td>{{centro.telefono}}</td>
                    <td>{{centro.enfoque.nombre}}</td>
                    <td>
                        <a class= "btn btn-primary btn-sm" href="{% url 'editar_centro' centro.id %}">Editar</a>
                        <a class = "btn btn-danger btn-sm" href="{% url 'eliminar_centro' centro.id %}">Eliminar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">
                        <p>No existen centros de Investigación registrados</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}
