{% extends 'index.html' %}


{% block titulo %}
    Editar Información
{% endblock titulo %}

{% block headers %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style>
        #map{
            height: 400px;
        }

        html,
        body {
            height: 100%;
        }
    </style>

{% endblock headers %}
    

{% block contenido %}
    <h1>Modificar Centro de Investigación</h1>
    <div class = "row">
        <div class = "col-sm-6 col-lg-4">
            <form action="" method="post" enctype = "multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <input class="btn btn-success"  type="submit" value = "Guardar">
                <a class="btn btn-danger" href="{% url 'centros_lista' %}">Regresar</a>
            </form>
        </div>
        <div class = "col-sm-6 col-lg-8">
            <div id = "map"></div>    
        </div>
    </div>
    
{% endblock contenido %}
    
   
{% block scripts %}
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYdQoF_U7nq8XhE97DNBPUDMxYDCsUCtI&callback=initMap&v=weekly"
    async
></script>
<script>

    let marker;

    latitudE = $('#id_latitud').val()
    longitudE = $('#id_longitud').val()

    function initMap() {


        const map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: parseFloat(latitudE), lng: parseFloat(longitudE) },
          zoom: 16,
        });
        

        marker = new google.maps.Marker({
            map,
            draggable: true,
            animation: google.maps.Animation.BOUNCE,
            position: { lat: parseFloat($('#id_latitud').val()), lng: parseFloat( $('#id_longitud').val()) },
        });
        marker.addListener("dragend", toggleBounce);
    }

    function toggleBounce() {

        marker.setAnimation(google.maps.Animation.BOUNCE);
        $('#id_latitud').val(marker.position.lat);
        $('#id_longitud').val(marker.position.lng);

    }
    
    window.initMap = initMap;

</script>    
    

{% endblock scripts %}
